@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-dm: "DM Sans", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
    --font-lora: "Lora", serif;
    --font-sevilla: "Sevillana", serif;
    --font-comorant: "Cormorant", serif;
    --color-background: hsl(160, 30%, 95%);
    --color-aquamine-4: hsl(160, 100%, 55%);
    --color-aquamine-1: hsl(160, 100%, 20%);
    --color-aquamine-2: hsl(160, 100%, 33%);
    --color-aquamine-3: hsl(160, 100%, 46%);
    --color-aquamine-5: hsl(160, 100%, 62%);
    --color-aquamine-6: hsl(160, 100%, 75%);
    --color-aquamine-7: hsl(160, 100%, 90%);
    --color-dark-button: #475569;
    --color-dark-hover: #374151;
    --color-dark-buttonhover: #647486;
    --color-dark-darkborder: #020617;
    --color-dark-background: #1e293b;
    --color-dark-surface: #334155;
    --color-dark-border: #647486;
    --color-dark-text: #fff;
    --color-dark-text-secondary: #9ca3af;
    --color-dark-danger: #f87171;
    --color-dark-success: #4ade80;
    --color-dark-overlaybg: #030712;
    --color-dark-overlaybtn: #111827;
    --color-dark-overlaybtnhover: #1f2937;
    --color-dark-overlayborder: #1e2936;
    --color-dark-focus: #020617;
    --animate-trans: all 0.5s linear;
    --color-light-button: hsl(160, 100%, 55%);
    --color-light-hoverwhite: #e5e7eb;
    --color-light-hoveraquamine: hsl(160, 100%, 75%);
    --color-light-buttonhover: hsl(160, 100%, 46%);
    --color-light-darkborder: hsl(160, 100%, 46%);
    --color-light-background: #fff;
    --color-light-surface: #f1f5f9;
    --color-light-border: hsl(160, 100%, 55%);
    --color-light-text: #000;
    --color-light-text-secondary: #465563;
    --color-light-danger: #b91c1c;
    --color-light-success: #4ade80;
    --color-light-overlaybg: #fff;
    --color-light-overlaybtn: hsl(160, 100%, 55%);
    --color-light-overlaybtnhover: hsl(160, 100%, 46%);
    --color-light-overlayborder: hsl(160, 100%, 46%);
    --color-lighr-focus:hsl(160, 100%, 46%);
    --color-red-dark: hsl(360, 67%, 44%);
    --color-red-light: hsl(360, 71%, 66%);
    --color-green-dark: hsl(125, 67%, 44%);
    --color-green-light: hsl(125, 71%, 66%);
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    p {
        font-family: var(--font-poppins);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        font-family: var(--font-lora);
    }

    input {
        font-family: var(--font-poppins);
    }

    @variant dark {
        body {
            color: var(--color-dark-text);
            background-color: var(--color-dark-background);
        }
    }
}


@utility scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .input {
        height: 35px;
        display: inline-flex;
        width: full;
        flex: 1;
        align-items: center;
        padding: 0 0.25rem;
        justify-content: center;
        border-radius: var(--radius);
        font-size: 15px;

    }

    .button {
        background-color: var(--color-aquamine-4);
        display: inline-flex;
        height: 35px;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius);
        padding: 0px 15px;
        cursor: pointer;
    }
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply text-black
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes overlayShow {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes contentShow {
    from {opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
    }
    to {opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
}

@keyframes slideIn {
    from {transform: translateX(calc(100% + 1rem));}
    to {transform: translateX(0);}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes swipeOut {
    from {transform: translateX(0);}
    to {transform: translateX(calc(100% + 1rem));}
}

.animate-overlayShow {
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-contentShow {
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-slideIn {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-hide {
    animation: hide 100ms ease-in;
}

.animate-swipeOut {
    animation: swipeOut 100ms ease-out;
}