footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: #fff;
    font-family: var(--poppins);
}
footer .main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 3%;
}
footer .sub {
    display: flex;
    flex-direction: column;
}
footer .sub h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
}
footer .sub nav {
    display: flex;
    flex-direction: column;
}
footer .sub nav a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
    font-weight: 400;
}
footer .sub:nth-of-type(6) {
    align-items: center;
}
footer .sub:nth-of-type(6) span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #535357;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}
footer .sub:nth-of-type(6) nav a span:hover {
    background-color: #f2f2f2;
    transition: background-color .5s linear;
}
footer .sub:nth-of-type(6) nav a:nth-of-type(1) span:hover i {
    color: blue;
}
footer .sub:nth-of-type(6) nav a:nth-of-type(2) span:hover i {
   color: #4fce5d
}
footer .sub:nth-of-type(6) nav a:nth-of-type(4) span:hover i {
    color: #36D8FF
}
footer .sub:nth-of-type(6) nav a:nth-of-type(3) span:hover i{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer .copyright {
    width: 100%;
    max-width: 1400px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
footer .copyright::before {
    content: "";
    width: 45%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: -130px
}
footer .copyright::after {
    content: "";
    width: 45%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: -130px;
}
.mobile-footer {
    display: none;
}

@media (max-width: 576px) {
    footer .main, footer .copyright {
        display: none;
    }
    .space-div {
        background: transparent;
        height: 60px;
    }
    footer {
        height: fit-content;
        position: fixed;
        bottom: 0;
        flex-direction: row;
    }
    .mobile-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 7px;
    }
    .mobile-footer span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-footer span i {
        font-size: 20px;
    }
    .mobile-footer span p {
        font-size: 13px;
    }
    .mobile-footer a {
        text-decoration: none;
        color: inherit;
    }
}