@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    width: 100%; 
    min-height: 100vh;
    background-color: #f2f2f2;
}
:root {
    --dm: "DM Sans", sans-serif;
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
    --assistant: "Assistant", sans-serif;
    --comorant: 'Cormorant Upright', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}
main {
    width: 100%;
}
.account {
    background-color: aquamarine;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.account h2 {
    font-family: var(--poppins);
    font-size: clamp(24px, 2.5vw, 34px);
}
.profile {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
    padding: 30px;
    height: 100%;
}
.list {
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    width: 22%;
    padding: 20px;
}
.list section {
    display: flex;
    border-bottom: 1px solid #8b8484;
    margin-bottom: 20px;
    gap: 15px;
}
.list section span {
    font-size: 18px;
}
.list section:nth-of-type(4) {
    border-bottom: none;
}
.list article {
    display: flex;
    flex-direction: column;
}
.list article h4 {
    margin-bottom: 10px;
}
.list a {
    text-decoration: none;
    color: black;
    margin-bottom: 7px;
}
.list .active {
    color: aquamarine;
}
.info {
    width: 65%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 7px;
}
.info-header {
    width: 100%;
    border-bottom: 1px solid #8b8484;
    padding-bottom: 10px;
    font-size: clamp(13px, 1.5vw, 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-header span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: clamp(13px, 1.5vw, 20px);
}
.info-header span i {
    font-size: 18px;
}
.info-header button {
    background-color: aquamarine;
    outline: none;
    border: none;
    height: 30px;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    font-size: clamp(11px, 1.3vw, 16px);
}
.info #account {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
    /* display: none; */
}
.input-container {
    width: 100%;
    margin-bottom: 20px;
}
.info form label {
    display: block;
}
.info form input, .info form select {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: none;
    border: 1px solid #8b8484;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
}
.info form button {
    width: 70%;
    background-color: aquamarine;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.address {
    display: flex;
    flex-direction: column;
    border: 1px solid #8b8484;
    width: 90%;
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
.address span {
    margin-bottom: 7px;
}
.address span:nth-of-type(1) {
    border-bottom: 1px solid #8b8484;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.address span:nth-of-type(1) a:nth-of-type(1) {
    display: inline-block;
    background-color: #fdf6f6;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    color: inherit;
}
.address i {
    margin-right: 10px;
}
.info .edit{
    width: 100%;
    margin-top: 30px;
   
}
.info .edit form {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.info .edit .major {
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: space-between;
}
.major .input-container {
    width: 47%;
}
@media (max-width: 576px) {
    body::-webkit-scrollbar {
        width: 0;
        background: transparent;
        display: none;
    }
    .account {
        height: 70px;
    }
    .list {
        display: none;
    }
    .info {
        width: 100%;
        padding-bottom: 0;
    }
    .info form input {
        height: 38px;
        font-size: 18px;
    }
    .address {
        width: 100%;
        margin-bottom: 110px;
    }
}